:root {
    --elevators_width: 120px;
    --floor_height: 60px;
    --chart_width: 601px;
    --elevators_height: 600px;
    --container_height: 700px;
}

body {
  background-color: #ebebeb;
  justify-content: center;
}